@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height:100%;
  width: 100%;
  letter-spacing: 0.5px;
  color:rgb(54, 53, 53);
}

body {
  font-family: "Open Sans", sans-serif;
  height:100%;
  width: 100%;
}

#root {
  height:100%;
  width: 100%;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  height:100%;
  width: 100%;
}


.link_icons {
  cursor: pointer;
}

.decor_icons {
  margin-right: 10px;
}


.row_control {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.row_name {
  display: flex;
  margin: 8px 0px;
  padding: 8px 20px;
  flex-grow: 1;
}

.row_name_sub {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  padding: 4px 20px;
  flex-grow: 1;
}


.all_bookmarks:hover,
.row_wrap:hover, 
.row_control:hover,
.userName:hover,
.headerEllipsis:hover{
  background-color: #e6e6e6;
}

.icon_right:hover{
  background-color: #d8d8d8;
}

.link_control {
  display: flex;
  margin: 8px 10px;
  padding: 8px 10px;
  border-radius: 5px;
  align-items: center;
}

.link_control_sub {
  display: flex;
  margin: 4px 10px;
  padding: 4px 10px;
  border-radius: 5px;
}

.navigation {
  width: 250px;
  flex-shrink: 0;
  border-right: 1px solid lightgrey;
  background-color: #f2f2f2;
  height:100%;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.userName {
  cursor: pointer;
  justify-content: space-between;
}


.all_bookmarks {

  cursor: pointer;
}

.folders {
  
  cursor: pointer;
}

.folder_name,
.tag_name,
.all_bookmarks h5,
.folders h5,
.tags h5,
.searchbar_input,
.main .title_bar,
form {
  font-size: 0.8rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.tags {
 
  cursor: pointer;
}

.tags .row_control,
.folders .row_control {
  position: relative;
}

.showcase {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position:relative;
  
}


.title_bar {
  width: 100%;
  height: 50px;
}

.bookmark_area {
  display: grid;
	justify-content: center;
	align-items: center;
	/* height: calc(100% - 50px);  */
  grid-template-columns: repeat(auto-fill, minmax(min(calc(50% - 4px), 280px), 1fr));
  /* grid-template-rows: 1fr; */
  /* grid-template-rows: repeat(auto-fill, minmax(265px, 1fr)); */
  grid-auto-rows: minmax(340px, auto);
  /* margin-bottom: 10px; */
  padding: 15px;
  gap: 8px;
  
  
  
  
  /* or gap: 10px and calc((100% - 10px) / 2)*/
  /* autofill vs autofit: 唯一差别在于没有新的 可以fill时，autofill会假设还有空白的项目，不停添加到行内，autofit不会凭空添加空白项目， 在没有新的加入时会不断把单个长度拉长*/
}

.main {
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #d8dbdd;
  
}

::-webkit-scrollbar {
  width: 10px;
  -moz-appearance: none
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 5px;
}

.card {
  position: relative;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.normal_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	padding: 10px;
  min-height: 340px;

  height: 100%;
  
}

.normal_card:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	background-color:rgba(192,192,192,0.3);
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	padding: 10px;
  min-height: 340px;

  height: 100%;
  /* filter: brightness(90%) */



  /* display:flex;
  justify-content: center;
  background-color:rgba(192,192,192,0.3);
  min-height: 340px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  opacity: 1;
  height: 100%;
  z-index: 100 */

  
}

/* .hover_card:hover {
  opacity: 1;
  
  
} */

/* .hover_content {
  display: flex;
  font-size: 1.5rem;
  position: absolute;
  top: 23%;
  
} */

.preview_image img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}

.preview_image {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 160px;
  overflow: hidden;
  border-radius: 5%;
  /* border: 2px solid red; */
  
  margin: 5px 5px 15px 5px;
}

.preview_text {
  padding: 10px 5px;
  border-top: 1px solid lightgrey;
  /* height: 180px; */
}

.bookmark_title {
  display: -webkit-box; 
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical; 
  
}

.preview_description_wrap {
  padding: 5px 0px;
}

.preview_description {
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  
}

.preview_description p {
  height: 100%;
  font-size: 0.8rem;  
  
}

.text_footnote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 2px;
  font-size: 0.8rem;
}

.bookmark_domain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
  /* width: 50%; */
}

.date_created {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 50%; */
  
}

.icon_footnote {
  color: grey;
  margin-right: 5px;
}

.hover_icons {
  display: none;
  
  height: 30px;
  width: 40px;
  margin: 7px;
  padding: 5px;
  color: grey;
  font-size: 1rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

.normal_card:hover .hover_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.left {
  top: 5%;
  right: 35%
}

.middle {
  top: 5%;
  right: 20%
}

.right {
  top: 5%;
  right: 5%
}


.title_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35px 25px 15px 25px;
  font-size: 0.7rem;
}

.title_bar .decor_icons {
  font-size: 1rem;
}

.function_bar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.addutton {
  flex-grow: 0;
}

.sortbutton {
  flex-grow: 0;
}


.searchbar {
  border: 2px solid lightgray;
  display: flex;
  /* align-items: center; */
  width: 350px;
  height: 35px;
  border-radius: 50px;
  padding: 2px;
}

.searchbar_input {
  /* font-size: 1.5rem; */
  
  height: 100%;
  border: none;
  padding: 10px;
  background-color: transparent;
  width: 100%;
}

.searchbar_input:focus {
  outline: 0;
}

.searchbar_submit {
  width: 27px;
  height: 27px;
  background-color: rgb(197, 194, 194);
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: relative;
  flex-grow:1;
}


  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */


.dropdown_list {
  position: absolute;
  top:calc(100%+5px);
  left:12px;

  width: 95%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1); 
  border-radius: 0.25rem;
  list-style: none;

  background-color: white;
  font-size: 0.8rem;
  padding: 7px;

  display: none;

  z-index: 1000;
}

.dropdown_list > li {
  padding: 5px;
}

.searchbar_input:focus + .dropdown_list {
  display: block;
}

.function_button {
  display: flex;
  align-items: center;
}

.addbutton {
  position: relative;
}

.star_button {
  height: 30px;
  width: 30px;
  background-color: rgba(0,97,224,255);
  border-radius: 0.25rem;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.addbutton:hover {
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
}

.addbutton .dropdown_menu {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  z-index: 1000;
}

.addbutton form{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  height: auto;
  width: 300px;
  padding: 20px 15px; 

  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 0.25rem;
}

.addbutton .link_icons {
  color: white
}

.form_control {
  width: 100%;
  padding-bottom: 10px;
}

.form_control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.addbutton .form_control input,
.edit_form .form_control input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 0.25rem;
  border: 1px solid grey;
}

.addbutton .form_control input:focus,
.edit_form .form_control input:focus {
  border: 2px solid rgba(0,97,224,255);
}

.button_control {
  display: block;
  width: auto;
  background-color: rgba(0,97,224,255);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0.25rem;
  margin-top: 10px;
  cursor: pointer;
}

.inactive_button {
  background-color: rgb(184, 183, 183);
  cursor: wait;
}

.inactive_input {
  background-color: rgb(209, 208, 208);
  color: rgb(177, 175, 175);
  border-width: 0;
  
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}

.preview_image .skeleton {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton_text {
  width: 100%;
  height: 0.9rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton_text:last-child {
  width: 80%;
  
}

.skeleton_footnote {
  width: 30%;
  height: 0.8rem;
  margin-bottom: 0.25rem;
  margin-right: 10px;
  border-radius: 0.125rem;
}

.header_font_size {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}


.tag_name_element:hover {
  text-decoration: underline;
 
}

.tag_name {
  margin-top: 5px;  
  cursor: pointer;
  /* color: rgba(0,97,224,255); */
  font-weight: 500;
}

.tag_name_element {
  margin-right: 8px;
}

.new_input {
  width: 75%;
  padding-bottom: 10px;
  margin: 5px 0 0 20px;
  height: 30px;
  padding: 5px;
  border-radius: 0.25rem;
  border: 1px solid grey;
}

.tagDropdown,
.folderDropdown {
  position: absolute;
  right: 20px;
  top: 90%;
  font-size: 0.9rem;
  background-color: white;
  z-index: 100000;
  padding: 5px 8px;
  border-radius: 5px;
}

.tagDropdown ul,
.folderDropdown ul {
  list-style: none;
}

.tagDropdown ul li:hover,
.folderDropdown ul li:hover {
  background-color: rgba(0,97,224,255);
  color: white
}

.tagDropdown ul li,
.folderDropdown ul li {
  padding: 3px;
  border-radius: 3px;
}

.main_part {
  display: flex;
  width: 100%;
  /* width: calc(100%-250px); */
  height: 100%;
  
}

.edit_showcase {
  width: 100%;
  height: 100%;
  border-left: 1px solid lightgrey;
}

.edit_form {
  margin: 30px 60px 0px 20px;
}

.edit_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  background-color: white;
  
  
}

.edit_form label {
  margin-left: 20px;
}

.edit_form select {
  margin-left: 20px;
  padding: 5px;
  width: 100px;
  height: 30px;
  overflow: auto;
  border-radius: 5px;
}

.edit_form p {
  text-align: center;
  font-weight: bold;
}

.addbutton select {
  padding: 5px;
  width: 270px;
  height: 30px;
  overflow: auto;
  border-radius: 5px;
}

select option {
  padding: 2px;
}

.identity_page {
  height: 100%;
  width: 100%;
  position: relative
}


.identity_image {
  background-image: url("images/background-login5.jpg");
  background-size: 1920px 1000px;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  -webkit-filter: blur(1px);
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.identity_content {
  z-index: 5;
  position:absolute;
  top: 30%;
  left: 41%;
}

.identity_content_bg {
  
  border-radius: 20px;
  background: white;
  opacity: 0.5;
  height: 350px;
  width: 350px;
}


.register_page .identity_content_bg {
  height: 400px;
}

.registerSuccess_bg {
  position: absolute;
  left:-10%;
  top: 100%;
  border-radius: 20px;
  background: white;
  opacity: 0.5;
  height: 70px;
  width: 350px;
}

.identity_page form {
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  height: 350px;
  width: 300px;
  padding: 20px 15px; 
  border-radius: 0.25rem;
}


.identity_content_container {
 
  height: 500px;
  width: 300px;
}

.identity_button {
  margin: 10px;
  width: 275px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #e5e9f2;
  background-color: #3e3b42;
  
  padding: 10px
}

.identity_form .identity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px
}

.identity_form .first {
  margin-top: 10px
}

.identity_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1rem;
  padding: 15px;
  background-color: #3e3b42;
  color: #f0f0f0;
}


.identity_page input[type="text"],
.identity_page input[type="password"]{
  outline: none;
  border:none;
  width: 100%;
  height: 46px;
  padding: 5px 10px;
  background-color: #c9c7c7;
  color: #00264d;
  font-size:1rem;
  font-family: "Work Sans", sans-serif;
}

.identity_page input[type="text"]:focus,
.identity_page input[type="password"]:focus {
  background-color: #f0f0f0;
  color: #00264d
}


.identity_page input[type="text"]:-webkit-autofill,
.identity_page input[type="password"]:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #c9c7c7 inset; 
  -webkit-text-fill-color: #434344; 
  
 } 



.identity_page input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b1b2b4;
  opacity: 1; /* Firefox */
}

.profile {
  position: absolute;
  top:-45%;
  left: 24%;
  color: #e2e0e0;
  font-size: 5rem;
  background-color: #3e3b42;
  padding: 20px 40px;
  border-radius: 500rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.xmark {
  font-size: 1.5rem;
  cursor: pointer;
  text-align: right;
}

.registerSuccess_content {
  position: absolute;
  left:0%;
  top: 102%;
}